<%- include('./includes/head', { pageTitle: 'Not Authenticated'}) %>
</head>
<body>
  <%- include('./includes/header') %>
  <main>
    <h1>Not Authenticated</h1>
    <p>Unfortunately, you aren't authenticated. Please try signing in.</p>
    <p><a href="/" class='btn'>Back to safety!</a></p>
  </main>
  <%- include('./includes/footer') %>
