<%- include('./includes/head', { pageTitle: 'Not Authorized!'}) %>
</head>
<body>
  <%- include('./includes/header') %>
  <main>
    <h1>Not Authorized</h1>
    <p>Unfortunately, you aren't authorized to access this page. Try logging in with a different account.</p>
    <p><a href="/" class='btn'>Back to safety!</a></p>
  </main>
  <%- include('./includes/footer') %>
